@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    background-color: black;
}
.parent{
    display: flex;
    justify-content: row;
    margin-left: 220px;
}
.child1{
    background-color:white;
    width: 52%;
    height: 100vh;
}
.child2{
    background-color:rgba(59,175,161,255);
    width: 32%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 25vh;
     margin-left:10px;
}
.logo > span{
    font-size: 1.2em;
    font-weight: 700;
    opacity: 0.8;
    letter-spacing:1px;
    position: absolute;
    top:15px;
}
.instructText{
    height:10vh;
    font-size: 7.3vh;
    font-weight: 900;
    letter-spacing: 1px;
    opacity: 0.9;
    text-shadow: -1px 0 black, 0 1px black,1px 0 black,0 -1px black;
    text-align: center;
}
.form{
    height:70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
hr{
    display: inline-block;
    width: 30%;
    height: 3%;
    background-color: red;
}
.textIcons{
    height: 18vh;
    width:50% ;
}
.textIcons:first-child{
    text-align:center;
    font-size:15px;
    opacity: 0.8;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 5px;
}
.icons{
    margin-top: 20px;
}
.icons > .fa-brands{
   font-size: 35px; 
   padding: 3px;
   border-radius: 50%;
}
.inputfields {
    height: 35vh;
    width: 100%;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    border: none;
    outline: none;
    border-radius: 17px ;
    height: 40px;
    width: 65%;
    background-color:#c7ffe9;
}
input:focus{
    background-color:#b1f6da;
}
.btn{
    height: 42px;
    width: 40%;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    background-color:#27b499;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
}
.whitebtn{
    background-color: white;
    width:50%;
    font-size: 13px;
    font-weight: 550;
}
.signup{
    height:50vh;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}
.signup > p:nth-child(1){
    font-size: 2.8em;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: -1px 0 white, 0 1px white,1px 0 white,0 -1px white;
    margin-bottom: 5px;
}
.signup > p:nth-child(3){
    font-size: 1.3em;
   line-height:30px;
   font-weight: 100;
   opacity: 0.9;
}

